.curso {
    padding: 8px;
    background-color: mediumseagreen;
    border-radius: 5px;
}

.componente {
    padding: 8px;
    background-color: mediumturquoise;
    border-radius: 5px;
}

.docente {
    padding: 8px;
    background-color: mediumvioletred;
    border-radius: 5px;
}

.horario {
    padding: 8px;
    background-color: mediumblue;
    border-radius: 5px;
}

.col {
    margin-left: 10px;
}

.lixo {
    border-bottom: solid;
    width: 43px;
    margin-left: 75;
}

table {
    margin-top: 2% !important;
}

label {
    width: 100%;
}

td {
    width: 231px;
    height: 60px;
    text-align: left !important;
}

#opcoes {
    width: 40%;
    height: 40%;
}

#tableFichas {
    width: 40%;
}

#lixo {
    width: 100%;
    height: 100%;
}