.curso {
    padding: 8px;
    background-color: mediumseagreen;
    border-radius: 5px;
}

.componente {
    padding: 8px;
    background-color: mediumturquoise;
    border-radius: 5px;
}

.docente {
    padding: 8px;
    background-color: mediumvioletred;
    border-radius: 5px;
}

.horario {
    padding: 8px;
    background-color: mediumblue;
    border-radius: 5px;
}

table {
    margin-top: 2% !important;
}

label {
    width: 100%;
}

.col {
    margin-left: 10px;
}

#opcoes {
    width: 40%;
    height: 40%;
}

#tableFichas {
    width: 40%;
}

td {
    width: 100%;
}

#excluir {
    margin-left: 150px;
}